dist/
LICENSE
yarn.lock
yarn-error.log

*.sh
*.snap
.gitattributes
.gitmodules
.gitignore
.npmignore
.prettierignore
.editorconfig
.eslintignore
.stylelintrc

.DS_Store

**/*.svg
**/*.yml
src/*.less
**/assets
